@font-face {
    font-family: "Tasty-Gothic";
    src: url(./Tasty/Tasty-Gothic_Book.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Tasty-Gothic";
    src: url(./Tasty/Tasty-Gothic_Demi.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Tasty-Gothic";
    src: url(./Tasty/Tasty-Gothic_Heavy.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

html {
    font-family: "Tasty-Gothic", serif !important;
}